# Dependency directories
node_modules/

# Compiled files
dist/
build/

# SQLite databases
*.db
*.db-journal

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
